services:
  finance-management-web:
    build:
      target: production
    environment:
      NODE_ENV: production
    # Removed "command: npm run start" to allow the Dockerfile CMD to run "node server.js"

  finance-management-api:
    build:
      target: production
    environment:
      NODE_ENV: production
    command: node server.js

  finance-management-pdf:
    build:
      dockerfile: Dockerfile.pdf
    environment:
      NODE_ENV: production